<div class="worksContent">
 <div class="sentencePR">
 <div class="quote">
<%= @quote.sample %>
</div>
 </div>
 <div class="newsWorks">
    <div id="newSentence">
    Recent Sentences
    </div>
    <div class="newSentences">
       <% @sentence.each do |sentence| %>
       <%= link_to sentence_path(sentence.id) do %>
      <div class="sentenceWrap">
      <div class="title" id="title">
      <%= sentence.title %>
      </div>
      <div class="user" id="user">
       <%= sentence.user.nickname %>
      </div>
      </div>
      <% end %>
      <% end %>
    </div>
</div>
</div>


