<div class="contents">
<% if @likes  %>
<% @likes.each do |like|  %>
<% if like.image_id  %>
<%  @image = Image.find(like.image_id) %>
<% @user = User.find(@image.user_id) %>
  <%= render partial: 'likes/liked_image', locals: { like: like } %>
<% elsif like.video_id %>
<%  @video = Video.find(like.video_id) %>
<% @user = User.find(@video.user_id) %>
 <%= render partial: 'likes/liked_video', locals: { like: like } %>
<% elsif like.sound_id %>
<%  @sound = Sound.find(like.sound_id) %>
<% @user = User.find(@sound.user_id) %>
 <%= render partial: 'likes/liked_sound', locals: { like: like } %>
<% else like.sentence_id %>
<%  @sentence = Sentence.find(like.sentence_id) %>
<% @user = User.find(@sentence.user_id) %>
 <%= render partial: 'likes/liked_sentence', locals: { like: like } %>
   <% end %>
<% end %>
<% else %>
  <div class="notyet">
  いいねした作品はまだありません。
  </div>
<% end %>
</div>