<div class="about-back">
<div class="about-contents">
  <div class="about-wrapper">
 <div class="intro-aboutApp">
 <div id="appname">Creators</div>
 自身のオリジナル作品を投稿して<br>
 世界と世界中のユーザを刺激しよう！<br>
 Let's post your original creation works and<br>
 Inspire the world and all over the users!
 </div>
   <div id="warnings">
※必ず自身のオリジナル作品を投稿し。他のユーザの作品を悪用しないでください。
  </div>
  </div>
</div>
</div>