<div class="text-content-wrapper">
    <%= form_tag("/writes/#{@writes.id}", method: :patch) do %>
        <h3>投稿する</h3>
        <div class="text-content-form">
            <input class="text-title" placeholder="タイトル" type="text" name="title" value="<%= @writes.title %>" />
            <textarea cols="30" name="content" type="text" class="text-form" placeholder="本文" rows="10">
<%= @writes.content %></textarea
    >
    <textarea
      cols="30"
      name="summary"
      type="text"
      class="summary-form"
      placeholder="あらすじ"
      rows="10"
    >
<%= @writes.summary %></textarea
    >
    <input type="submit" value="編集完了" />
  </div>
  <% end %>
</div>