// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-wrapper {
    // width: 1440px;
    // height: 600px;
    // background-color: red;
}

// element.style {
//     // width: 400px;
//     height: 600px;
// }
.genre-title {
    font-size: 30px;
    padding-left: 20px;
    margin-left: 20px;
    border-bottom: solid 1px;
    margin-top: 6px;
    width: 300px;
}

.genre-wrapper {
    padding: 10px 0;
    width: 1980px;
    margin: 7px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    display: inline-block;
}

.genre-boxes {
    width: 590px;
    height: 460px;
    border: 0.1px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    margin-left: 57px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.genre-container {
    margin: 30px 5px;
    padding-bottom: 30px;
    padding-top: 30px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(226, 226, 226);
    position: relative;
}

.box1 {
    width: 570px;
    height: 460px;
    border-style: solid 1px white;
    background-color: rgb(245, 245, 245);
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 8 16 3 rgba(0, 0, 0, 0.726);
}

.box2 {
    width: 570px;
    height: 460px;
    background-color: green;
}

.home {}

.genre-works-wrapper {
    height: 380px;
    // background-color: gray;
    // text-align: center;
    position: relative;
}

*:focus {
    outline: none;
}

.genre-works-wrapper video {
    width: 400px;
    margin-top: 27px;
    height: 280px;
}

.to-works {
    position: absolute;
    bottom: 0%;
    right: 0%;
    margin-right: 20px;
    margin-bottom: 8px;
}

.username {
    top: 0;
}

.nickname {
    margin-left: 40px;
}

.like-comment-wrapper {
    // position: absolute;
    display: flex;
    // right: 0;
    bottom: 0;
    margin-left: 20px;
}

.heart {
    margin-right: 10px;
    margin-left: 10px;
}

.heart img {
    margin-top: 4px;
}

.un-heart {
    margin-right: 10px;
    margin-left: 10px;
    background-color: teal;
    width: 200px;
}

.icon-wrapper {
    display: flex;
    position: relative;
    display: block;
    top: 17px;
    width: 100%;
    margin-left: 20px;
}

.usericon {
    box-shadow: 0 0 0 1px rgba(31, 27, 27, 0.959);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    float: left;
    object-fit: cover;
}

#userinfo {
    margin-top: 8px;
}

.userinfo-wrapper {
    // background-color: red;
    width: 300px;
}

.post-followers-wrapper {
    display: flex;
    list-style: none;
}

.post-followers-wrapper li {
    width: calc(100% / 3);
    text-align: center;
    padding: 30px 17px 30px 0;
    font-size: 13px;
}

.word {
    color: rgb(119, 119, 119);
    font-size: 13px;
}

.info-wrapper {
    border-top: solid 1px rgb(223, 223, 223);
}

.icon-content {
    display: none;
    position: absolute;
    // height: 280px;
    background-color: white;
    min-width: 220px;
    box-shadow: 0 8 16 3 rgba(0, 0, 0, 0.2);
    border: solid 0.1px rgba(172, 172, 172, 0.678);
    border-radius: 10px;
    z-index: 1;
    right: 20;
}

.home-icon {
    margin-left: 10px;
    display: flex;
}

.userinfo-wrapper .names,
.word {
    margin-left: 10px;
}

.worksname-sound {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-right: 10px;
    color: white;
}

.sound-back {
    height: 380px;
    background-image: image-url("sound-only.jpg")
}

.sound-back audio {
    margin-top: 220px;
    width: 480px;
}

.genre-works-wrapper .image {
    margin-top: 42px;
    // margin-right: auto;
    margin-left: 30px;
    margin-bottom: 2px;
    position: relative;
}

.gc-wrapper {
    margin: 6px 10px;
}

.icon-content a {
    display: block;
}

.icon-wrapper:hover .icon-content {
    display: block;
}