@charset "UTF-8";
body {
    width: 100%;
    margin: 0;
}

.profile-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 80%;
    display: flex;
    box-shadow: 0 1px 10px 0 rgba(69, 90, 100, 0.28);
    background-color: white;
    border-radius: 5px;
    position: relative;
}

table {
    width: 100%;
    margin-top: 30px;
}

table tr {
    margin-top: 30px;
    margin-bottom: 20px;
}

table th {
    font-size: 16px;
    position: relative;
    top: 0;
    text-align: right;
    width: 25%;
    border-spacing: 80px 100px;
    margin-bottom: 20px;
    height: 74px;
}

th {
    margin-bottom: 20px;
}

table th:after {
    display: block;
    content: "";
    width: 30px;
    height: 2px;
    position: absolute;
    top: calc(90% - 1px);
    right: 20px;
}

table td {
    text-align: left;
    width: 85%;
}

.each-explain {
    // background-color: yellow;
    font-size: 11px;
    color: #8a8a8a;
}

.profile-edit-wrapper input {
    width: 400px;
    height: 30px;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    padding: 0 10px;
    margin-left: 30px;
    border-radius: 2px;
    margin-bottom: 20px;
    color: rgb(54, 54, 54);
}

.profile-edit-wrapper textarea {
    width: 400px;
    height: 100px;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    padding: 4px 10px;
    margin-left: 30px;
    border-radius: 2px;
    margin-bottom: 20px;
    resize: vertical;
    color: rgb(54, 54, 54);
}

.profile-edit-wrapper textarea ::placeholder {
    color: #d1caca;
    font-size: 10px;
    background-color: green;
}

.edit-content {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 800px;
    border: 1px solid gray;
    padding: 0 20px;
    border-radius: 4px;
}

.profile-edit-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    display: flex;
}

.edit-profilebutton-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    .edit-profile-send {
        padding: 1px 7px;
        background-color: white;
        border: none;
        border-radius: 4px;
        float: right;
        padding: 3px 13px;
    }
}

.edit-profile-send:hover {
    cursor: pointer;
    background-color: #edebeb;
}

.edit-usericon-wrapper {
    width: 100%;
    border-bottom: 1px solid gray;
    margin: 0 auto;
}

.img_block img {
    display: block;
    margin: auto;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 50%;
    box-shadow: 0 1px 20px 0 rgba(196, 196, 196, 0.959);
    margin-top: 20px;
    object-fit: cover;
}

.img_block a {
    width: 180px;
    height: 160px;
    display: block;
    margin: auto;
}

#editicon-wrapper img a {
    width: 180px;
    height: 180px;
    display: block;
    margin: 10px auto;
}

#each-editnames {
    padding: 2px 5px;
    margin-top: 10px;
}

.artist-genre {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.profile-name {
    font-size: 24px;
    display: flex;
    margin-left: 20px;
}

#fcount {
    font-size: 14px;
}

.followWrap {
    font-size: 13px;
    margin: 4px 0;
}

.one-word {
    overflow-wrap: break-word;
    margin-top: 10px;
}

.message-wrapper {
    border: 1px solid rgb(194, 194, 194);
    font-size: 14px;
    padding: 2px 4px;
    margin-top: 7px;
    margin-left: 30px;
    border-radius: 3px;
    height: 18px;
}

.profile-name .name-mr {
    font-size: 15px;
    text-align: center;
}

.profile-info {
    margin-left: 25px;
    padding-top: 10px;
}

.profile-info-list {
    margin-top: 10px;
    border-radius: 7px;
    overflow-wrap: break-word;
}

.profile-info-list .nickname {
    font-size: 17px;
}

.profile-genre {
    margin-top: 10px;
}

.profile-wrapper .left {
    width: 25%;
    background: linear-gradient(to left, #f5f5f5, #928e8e);
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: black;
}

.userWorks-content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 5px 0 rgba(69, 90, 100, 0.28);
    border-radius: 3px;
    background-color: white;
    padding-bottom: 2px;
    margin-bottom: 10px;
}

.userWorksWrapper {
    margin: 0 auto;
    margin-top: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 53px;
}

.userSentencesWrapper {
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.eachSentencesBox {
    width: 540px;
    height: 630px;
    border: solid 1px rgb(201, 201, 201);
    border-radius: 3px;
    margin-bottom: 18px;
    padding: 7px;
    position: relative;
    padding-bottom: 10px;
    margin: 0 auto 20px auto;
}

.eachVideosBox {
    width: 340px;
    height: 230px;
    border: solid 1px rgb(201, 201, 201);
    border-radius: 3px;
    margin-bottom: 18px;
    // margin-left: auto;
    margin-left: 8px;
    position: relative;
    padding-bottom: 10px;
    video {
        width: 340px;
        // margin-bottom: 20px;
    }
    #title-work {
        position: absolute;
        bottom: 0;
        padding: 0 10px 9px 10px;
        font-style: oblique;
        font-size: 16px;
        overflow-wrap: break-word;
    }
}

.eachWorksBox {
    width: 250px;
    height: 287px;
    // background-color: green;
    border: solid 1px rgb(201, 201, 201);
    border-radius: 3px;
    margin-bottom: 18px;
    margin-left: 8px;
    position: relative;
    img {
        object-fit: cover;
    }
    #title-work {
        position: absolute;
        bottom: 0;
        padding: 0 10px 9px 10px;
        font-style: oblique;
        font-size: 14px;
        width: 90%;
        overflow-wrap: break-word;
    }
    video {
        margin-top: 60px;
        width: 250px;
    }
    audio {
        margin-top: 100px;
        width: 250px;
    }
}

.sentence-contents {
    height: 80%;
    // writing-mode: vertical-rl;
    // text-orientation: upright;
    content: "\A";
    overflow-wrap: break-word;
    overflow-y: scroll;
    font-size: 14px;
    padding: 3px;
}

.worksGenre {
    margin-top: 13px;
    width: 90%;
    margin-left: 23px;
    padding-top: 6px;
    ul {
        margin: 7px 0;
    }
    li {
        display: inline;
        padding: 0 9px;
        font-size: 20px;
    }
}

.profile-wrapper .left img {
    margin-bottom: 10px;
    border-radius: 50%;
    box-shadow: 0 0 4px 0 rgba(87, 87, 87, 0.959);
    background-color: white;
}

.main-wrapper-profile p {
    margin-bottom: 10px;
}

.profile-wrapper .left p {
    font-size: 12px;
}

.profile-wrapper .right {
    width: 65%;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 2px 3px;
}

.profile-edit {
    float: right;
    position: relative;
    right: 0;
    bottom: 0;
    color: red;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.profile-edit:hover {
    background-color: blue;
}

.profile-title {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    margin-top: 80px;
}

h2.profile-portfolio {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.follow {
    margin-top: 30px;
    font-size: 17px;
    color: white;
    border-radius: 7px;
}

.un-follow {
    margin-top: 30px;
    font-size: 17px;
    color: white;
    background-color: #8a8a8a;
    border-radius: 7px;
}