<div class="posts-wrapper">
    <div class="image-post" id="postsIcons">
    <%= link_to image_tag('brush.png', :size => '90' ), new_image_path %>
    <p id="image-post-text">画像</p>
    </div>

    <div class="sound-post" id="postsIcons">
    <%= link_to image_tag('sound.png', :size => '90' ), new_sound_path %>
    <p id="sound-post-text">音楽</p>
    </div>

    <div class="text-post" id="postsIcons">
     <%= link_to image_tag('note.png', :size => '90' ), new_sentence_path %>
    <p id="text-post-text">文字</p>
    </div>

    <div class="video-post" id="postsIcons">
    <%= link_to image_tag('video.png', :size => '90' ), new_video_path %>
    <p id="video-post-text">動画</p>
    </div>
</div>
